.panel {
  width: 100%;
  height: 496px;
  color: #ffffff;
}
.panel.degrees {
  display: flex;
  flex-wrap: wrap;
}
.panel.text {
  padding: 0 15%;
  width: 70%;
  text-align: center;
}
.panel.text h1 {
  padding: 0 10%;
}
.panel.text ul {
  list-style-type: none;
  padding: 0;
}
.panel.text .btn {
  border-radius: 10px;
  background: none;
  color: rgb(128, 197, 255);
  border: 1px solid rgb(128, 197, 255);
  width: fit-content;
}
.panel.text .btn:hover {
  transition: all 0.2s ease-out;
  background: rgb(128, 197, 255);
  color: #ffffff;
}
.panel.text .btn {
  transition: all 0.2s ease-out;
}

.form-section {
  background-image: url("/dashboard/img/form-bg.webp");
  height: fit-content;
}
.form-section .info-banner {
  display: flex;
  margin: 0 10%;
  padding-left: 2rem;
  padding-bottom: 3rem;
  background-color: rgba(52, 64, 66, 0.73);
}
.form-section .info-banner > div {
  flex-grow: 1;
  max-width: 33%;
}
.form-section .info-banner > div:first-child {
  margin-top: 1rem;
}
.form-section .form-container {
  width: 100%;
  display: flex;
  padding: 3rem 10%;
}

.form-section .form-container img {
  margin: 3rem;
  border-radius: 5px;
  box-shadow: 8.09px 3.95px 44px 0px rgba(0, 0, 0, 0.5);
  width: 524px;
  height: 393px;
}

.form-section .form-container form {
  width: 32rem;
  display: flex;
  flex-flow: column;
  color: #000;
  background-color: #fff;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 8.09px 3.95px 44px 0px rgba(0, 0, 0, 0.5);
  padding: 3rem 2rem;
}

.form-section .form-container form label {
  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  color: rgb(57, 57, 57);
  word-break: break-word;
  display: inline-block;
  line-height: 1;
  margin-bottom: 12px;
  padding: 0 20px 0 2px;
}
.form-section .form-container form input.text-input {
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(163, 217, 246);
  padding: 3px 3px 3px 16px;
  border-radius: 4px;
  height: 44px;
  margin-bottom: 16px;
}
.form-section .form-container form input:invalid {
  /* border-color: #ff4040; */
}
.form-section .form-container form .input-holder {
  display: flex;
}
.form-section .form-container form .input-holder label {
  margin-top: 3px;
}

div.divider {
  width: 61px;
  transform-origin: center 0.5px;
  margin-left: calc(50% - 30.5px);
  border-top: 1px solid rgb(128, 197, 255);
}

.degree {
  flex-grow: 1;
  width: 100%;
  position: absolute;
  z-index: 5;
}

/* .degrees > div img { */
/* transition: all 0.2s ease-out; */
/* } */

.degrees > div:hover img {
  /* transform: scale(1.1); */
  /* transform: scale(1.1, 1); */
  /* z-index: 10; */
}

.degrees > div {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  position: relative;
  height: 28rem;
}

img.person {
  height: 45%;
  z-index: 20;
  bottom: -3rem;
  position: absolute;
}

.panel.degrees button.btn {
  z-index: 6;
  height: 4rem;
  width: 10rem;
}

.degrees .menu-close {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
  display: none;
}

.degrees .vertical-btn-group {
  z-index: 30;
  /* width: 10rem; */
  left: 22rem;
  top: 1rem;
  box-shadow: 0px 6px 27px 0px rgba(0, 0, 0, 0.3);
}

.degrees .vertical-btn-group button.btn {
  width: 14rem;
}

.popup-container button svg {
  transform: rotate(90deg);
  width: 14px;
  height: 40px;
}
.popup-container button.btn {
  border-color: #fff;
  color: #fff;
  fill: #fff;
}
.popup-container > button.btn {
  box-shadow: 0px 6px 27px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* nursing  : 03b19d */
/* graduate : 1ba2ff */
/* teacher  : 5cd660 */

/* .btn-container {
  width: fit-content;
  position: relative;
} */

.nurse button {
  background-color: #03b19d !important;
}
.graduate button {
  background-color: #1ba2ff !important;
}
.teacher button {
  background-color: #5cd660 !important;
}

.degrees .popup-container {
  position: absolute;
  padding-top: 15rem;
  padding-left: 12rem;
  z-index: 30;
  bottom: -2rem;
}

.panel.degrees > div:nth-child(2) .popup-container {
  z-index: 29;
}
.panel.degrees > div:nth-child(3) .popup-container {
  z-index: 28;
}

.nurse > img.degree {
  width: 106%;
}
.teacher > img.degree {
  width: 102%;
  left: -11px;
}
.graduate > img.degree {
  width: 112%;
  left: -28px;
}

.image-panel {
  background-image: url("/dashboard/img/GRADUATES.webp");
  width: 100%;
  height: 233px;
  /* background-size: 100% 100%; */
  /* padding-top: 8rem;
  background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
}

.image-panel h1 {
  width: fit-content;
  margin-left: 11rem;
  margin-top: 5rem;
}
.image-panel h2 {
  width: fit-content;
  margin-left: 21rem;
}
.image-panel .btn-group {
  width: fit-content;
  margin-left: 23rem;
}

.contents h1 {
  letter-spacing: 0.06em;
  /* font-family: montserrat, sans-serif; */
  font-size: 45px;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
  /* color: rgb(33, 33, 33); */
}

.contents h2 {
  /* font-family: "open sans", sans-serif; */
  font-size: 17px;
  font-weight: 400;
  /* color: rgb(33, 33, 33); */
  line-height: 1.4em;
  letter-spacing: 0.45em;
  text-align: center;
}

.degrees .degree-summary {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 8;
  margin: 4rem;
  margin-bottom: 0;
  padding: 1rem;
  padding-bottom: 0;
}

.degrees .degree-summary li {
  line-height: normal;
}

.degrees .degree-summary h2 {
  letter-spacing: normal;
  font-weight: bold;
  font-size: 23px;
  text-align: left;
  margin-bottom: 0;
}

.nurse .paperclip,
.teacher .paperclip {
  z-index: 10;
  height: 22%;
  position: absolute;
  right: 7px;
  top: 7rem;
}

.graduate .paperclip {
  z-index: 10;
  height: 22%;
  position: absolute;
  right: 7px;
  top: 7rem;
}

.teacher img.person,
.graduate img.person {
  right: 0;
}
